---
import ThemeIcon from '@components/ThemeIcon.astro'
import { useLocale } from '@utils/locale'
const { path } = useLocale(Astro.url)

export const prerender = true
---

<div class="my-6 flex">
    <a href={path('/website/')}  class="hover:cursor-pointer opacity-100 hover:opacity-80 panda-link ">
        <i class="hidden">website header </i>
       <h1 ">HackTheLLM</h1>
    </a>
</div>
